<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="https://kit.fontawesome.com/13a400cd53.js" crossorigin="anonymous"></script>
    <title>Hello World!</title>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <ul>
                <li> <a href="/">Home</a></li>
                <li> <a href="about">About</a></li>
                <li> <a href="projects">Projects</a></li>
            </ul>
        </div>
        <div class="content">
            <img src="{{user_image}}" alt="Picture of me" width="300px" height="400px">
            <p>My name is Ryan DeSantis, I am a computer engineer with a passion for coding!<br> I am currently a 3rd year Computer Engineering student at Stevens Institute of Technology.<br>Some of my other passions include lifting, movies, skiing, and video games.</p>
        </div>
    
    
    </div>


</body>
</html>