<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="https://kit.fontawesome.com/13a400cd53.js" crossorigin="anonymous"></script>
    <title>Hello World!</title>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <ul>
                <li> <a href="/">Home</a></li>
                <li> <a href="about">About</a></li>
                <li> <a href="projects">Projects</a></li>
            </ul>
        </div>
        <h1>quickfood</h1>
        <div class="content1">
            <img src="{{user_image}}" alt="Picture of quickfood" width="800" height="400">
            <p>One of my hobbies to watch cooking videos and cook new recipes, so I decided to make quickfood to help! Quickfood is a website that uses spoonacular's api to access over 360,000 recipes. Creating quickfood helped me learn a lot about React, JavaScript, HTML, and CSS while creating something that could be useful for anyone that loves food! Check this out on my linkedin! </p>
            <a href="https://www.linkedin.com/in/ryan-desantis3/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin fa-2x"></i></a>
        </div>
    
    
    </div>


</body>
</html>